<header class="form-header" style="background-color: {{bgColor}};">
  <h1 class="form-title">Editar postagem</h1>
</header>

<form action="/update" method="POST">

{{#each posts}}
 <label>Código: </label>
 <input type="text" name="id" value="{{id}}" readonly="true" class="id"></input>
 
 <label for="titulo">Titulo: </label>
 <input type="text" name="titulo" value="{{titulo}}">

 <label for="conteudo">Conteúdo:</label>
 <textarea name="conteudo">{{conteudo}}</textarea><br>

 <input type="submit" value="Alterar" class="botao" style="background-color: {{{../bgColor}}};">
{{/each}}

</form>